.team {
  top: 0;
  width: 100%;
  height: 500px;
  background-color: rgb(246, 243, 240);
}
.teamDiv {
  width: 100%;
  height: 500px;
}
.teamHeading {
  float: left;
  width: 600px;
  height: 200px;
  justify-content: center;
  align-items: center;
  margin-left: 80px;
  margin-top: 90px;
  padding-top: 90px;
}
.heading {
  font-size: 20px;
  font-family: montserrat serif;
  font-weight: 800;
  margin-left: 40px;
  padding-left: 30px;
  align-items: center;
  justify-content: center;
}
.teamParagraph {
  font-family: montserrat serif;
  margin-left: 40px;
  padding-left: 30px;
}
.teamImg {
  float: right;
  width: 40%;
  height: 450px;
  align-items: center;
  justify-content: center;
}
.teamImgItem {
  width: 350px;
  height: 350px;
  border-radius: 20px;
  margin-left: 30px;
  margin-top: 60px;
}
