.team {
  width: 100%;
  height: 100%;
  background-color: rgb(246, 243, 240);
}
.teamDiv {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.teamHeading {
  width: 600px;
  height: 200px;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 30px;
  left: 10px;
}
.headingTeam {
  font-size: 20px;
  font-family: montserrat serif;
  font-weight: 800;
  margin-left: 40px;
  padding-left: 30px;
  padding-bottom: 10px;
  align-items: center;
  justify-content: center;
  color: rgb(60, 52, 52);
}
.teamParagraph {
  font-family: montserrat serif;
  margin-left: 40px;
  padding-left: 30px;
  line-height: 22px;
}
.teamImg {
  width: 40%;
  height: 450px;
  align-items: center;
  justify-content: center;
}
.teamImgItem {
  width: 350px;
  height: 350px;
  border-radius: 20px;
  position: relative;
  top: 30px;
  left: 120px;
}
/* small devices (smartphones) */
@media screen and (max-width: 767px) {
  .team {
    width: 100%;
    height: 100%;
  }
  .teamDiv {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  .teamHeading {
    width: 100%;
    height: 100%;
  }
  .headingTeam {
    width: 100%;
    position: relative;
    bottom: 170px;
    left: 65px;
  }
  .teamParagraph {
    position: relative;
    left: 65px;
    top: 90px;
    width: 500px;
    max-width: 100%;
  }
  .teamImg {
    width: 100%;
    position: relative;
    right: 285px;
    top: 5px;
  }
  .teamImgItem {
    width: 250px;
    height: 250px;
  }
}
