.services {
  width: 100%;
  height: 100%;
  background-color: rgb(246, 243, 240);
}
.serviceContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.serviceContainerHeading {
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}
.headingService {
  font-family: montserrat serif;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  padding-top: 49px;
  color: rgb(58, 50, 50);
}
.serviceContainers {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-left: 30px;
}
.containerService {
  width: 303px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: whitesmoke;
  border: 1px solid rgb(225, 222, 222);
  margin: 20px;
  border-radius: 10px;
}
.serviceContainerList {
  width: 50px;
  height: 50px;
  display: flex;
  background-color: white;
  border: 1px solid rgb(225, 222, 222);
  padding: 20px;
  margin: 20px;
  border-radius: 50%;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.icon {
  font-size: 30px;
  color: rgb(213, 196, 154);
}
.headings {
  font-size: 20px;
  font-family: montserrat serif;
  font-weight: 800;
  top: 0;
  padding-right: 20px;
  padding-left: 20px;
  color: rgb(58, 50, 50);
}
.paragraph {
  font-family: montserrat serif;
  color: rgb(86, 78, 28);
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 15px;
  line-height: 22px;
}
.serviceBtn {
  font-size: 15px;
  align-items: center;
  justify-content: center;
  border-spacing: 5px;
  padding: 7px;
  cursor: pointer;
  font-family: montserrat, sans-serif;
  border-radius: 10px;
  border-top-right-radius: 1px;
  font-weight: 500;
  color: rgb(112, 102, 75);
  background-color: rgb(239, 206, 121);
  border: 2px solid rgb(239, 206, 121);
}
/* RESPONSIVE */
@media only screen and (max-width: 600px) {
  .serviceContainers {
    width: 100%;
    padding: 20px;
  }
  .serviceContainerHeading {
    width: 100%;
    height: 100%;
    padding: 20px;
  }
  .headingService {
    text-align: start;
  }
  .containerService {
    width: 100%;
    height: 100%;
  }
  .icon {
    font-size: 25px;
  }
  .headings {
    font-size: 17px;
  }
  .paragraph {
    padding: 16px;
  }
  .serviceBtn {
    position: relative;
    right: 80px;
  }
}
