.questions {
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(246, 243, 240);
}
.questionsDiv {
  width: 100%;
  height: 400px;
}
.questionsHeading {
  width: 100%;
  height: 30px;
  padding-top: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.questionsDivHeading {
  margin: 0;
  font-family: montserrat serif;
  font-size: 20px;
  font-weight: 800;
}
.questionsList {
  top: 0;
  width: 90.5%;
  height: 380px;
  margin-left: 80px;
  padding-left: 60px;
  padding-top: 25px;
}
.questionParagraph {
  padding: 15px 15px 0px 15px;
}
.questionsParagraph {
  padding: 15px;
  color: rgb(73, 64, 64);
}
.questionsParagraphItem {
  color: rgb(115, 115, 63);
  padding: 30px 15px 15px 15px;
}
.questionsListItem1 {
  width: 90%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-left: 22px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgb(225, 222, 222);
}
.questionsListItem2 {
  width: 90%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-left: 22px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgb(225, 222, 222);
}
.questionsListItem3 {
  width: 90%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-left: 22px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgb(225, 222, 222);
}
.questionsListItem4 {
  width: 90%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  margin-left: 22px;
  border: 1px solid rgb(225, 222, 222);
}
.iconQuestion1 {
  width: 20px;
  height: 20px;
  padding-right: 30px;
  padding-top: 15px;
  /* position: relative;
  left: 955px;
  bottom: 15px; */
}
.iconQuestion2 {
  width: 20px;
  height: 20px;
  padding-right: 30px;
  padding-top: 15px;
  /* position: relative;
  left: 955px;
  bottom: 30px; */
}
.iconQuestion3 {
  width: 20px;
  height: 20px;
  padding-right: 30px;
  padding-top: 15px;
  /* position: relative;
  left: 955px;
  bottom: 30px; */
}
.iconQuestion4 {
  width: 20px;
  height: 20px;
  padding-right: 30px;
  padding-top: 15px;
  /* position: relative;
  left: 955px;
  bottom: 30px; */
}
.upIcon {
  font-size: 13px;
  color: rgb(73, 64, 64);
}

@media screen and (max-width: 600px) {
  .questions {
    width: 100%;
    height: 100%;
  }
  .questionsDiv {
    width: 100%;
    height: 100%;
  }
  .questionsHeading {
    width: 100%;
    height: 100%;
  }
  .questionsList {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 130px;
    padding-bottom: 20px;
  }
  .questionsListItem1 {
    width: 100%;
    height: 100%;
    /* position: relative; */
    /* right: 50px; */

    justify-content: space-between;
  }
  .questionsListItem2 {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    /* position: relative;
    right: 50px; */
  }
  .questionsListItem3 {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    /* position: relative;
    right: 50px; */
  }
  .questionsListItem4 {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    /* position: relative;
    right: 50px; */
  }
  .iconQuestion2 {
    /* width: 100%;
    height: 100%;
    position: relative;
    right: 900px; */
  }
  .iconQuestion1 {
    /* position: relative;
    right: 200px; */
  }
}
