.says {
  width: 100%;
  height: 100%;
  background-color: rgb(246, 243, 240);
}
.saysItem {
  width: 100%;
  height: 570px;
}
.saysHeading {
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: center;
}
.saysHead {
  margin: 0;
  font-family: montserrat serif;
  font-size: 20px;
  font-weight: 800;
  text-align: start;
  margin-left: 90px;
  padding-left: 65px;
  padding-top: 40px;
  color: rgb(58, 50, 50);
}
.sayBox1 {
  left: 750px;
  top: 132px;
  width: 410px;
  height: 350px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.sayBox2 {
  left: 90px;
  top: 70px;
  width: 410px;
  height: 350px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.sayBox3 {
  right: 660px;
  width: 410px;
  height: 350px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.saysBox {
  width: 100%;
  height: 430px;
  display: flex;
}
.saysBoxImg {
  top: 30px;
  left: 20px;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}
.saysBoxItemImg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-top: 20px;
}

.saysParagraph1 {
  color: rgb(121, 99, 43);
  line-height: 22px;
}
.saysParagraph2 {
  color: rgb(81, 62, 15);
  line-height: 22px;
}
.saysParagraph3 {
  color: white;
  line-height: 22px;
}
.sayBoxItem1 {
  width: 400px;
  height: 350px;
  padding: 30px;
  border-radius: 10px;
  position: relative;
  background-color: rgb(202, 200, 183);
}
.sayBoxItem2 {
  width: 400px;
  height: 350px;
  padding: 30px;
  position: relative;
  border-radius: 10px;
  background-color: rgb(210, 201, 137);
}
.sayBoxItem3 {
  width: 400px;
  height: 350px;
  padding: 30px;
  border-radius: 10px;
  background-color: rgb(124, 114, 35);
}
.saysSpan {
  color: black;
}
.starL {
  color: gold;
  padding: 2px;
}
.saysIconRight {
  width: 20px;
  height: 20px;
  position: relative;
  left: 1122px;
  bottom: 380px;
}
.saysIconLeft {
  width: 20px;
  height: 20px;
  position: relative;
  left: 1090px;
  bottom: 400px;
}
.saysIconRightItem {
  font-size: 20px;
  color: rgb(146, 137, 137);
}
.saysIconLeftItem {
  font-size: 20px;
  color: rgb(79, 68, 68);
}

@media screen and (max-width: 600px) {
  .saysItem {
    width: 100%;
    height: 100%;
  }
  .saysHeading {
    position: relative;
    right: 130px;
  }
  .sayIcon {
    position: relative;
    right: 840px;
    bottom: 40px;
  }

  .saysBox {
    position: relative;
    right: 120px;
  }
}
