.says {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
}
.saysItem {
  width: 97%;
  height: 380px;
}
.saysHeading {
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: center;
  padding-left: 70px;
  margin-left: 70px;
}
.saysHead {
  font-family: montserrat serif;
  font-size: 20px;
  font-weight: 800;
  text-align: start;
}
.sayBox1 {
  width: 370px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.sayBox2 {
  width: 370px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.sayBox3 {
  width: 370px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.saysBox {
  width: 1000px;
  height: 330px;
  display: flex;
  padding-left: 70px;
  margin-left: 70px;
  margin-right: 70px;
  padding-right: 70px;
}
.saysBoxImg {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.saysBoxItemImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.saysParagraph {
  color: white;
}
.sayBoxItem1 {
  width: 280px;
  height: 250px;
  padding: 30px;
  border-radius: 10px;
  background-color: rgb(152, 146, 58);
}
.sayBoxItem2 {
  width: 280px;
  height: 250px;
  padding: 30px;
  border-radius: 10px;
  background-color: rgb(67, 67, 45);
}
.sayBoxItem3 {
  width: 280px;
  height: 250px;
  padding: 30px;
  border-radius: 10px;
  background-color: rgb(158, 131, 98);
}
.saysSpan {
  color: white;
}
