.says {
  width: 100%;
  height: 100%;
  background-color: rgb(246, 243, 240);
}
.saysItem {
  width: 100%;
  height: 500px;
}
.saysHeading {
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: center;
}
.saysHead {
  margin: 0;
  font-family: montserrat serif;
  font-size: 20px;
  font-weight: 800;
  text-align: start;
  margin-left: 90px;
  padding-left: 65px;
  padding-top: 40px;
}
.sayBox1 {
  top: 100px;
  left: 750px;
  width: 410px;
  height: 300px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.sayBox2 {
  top: 50px;
  left: 110px;
  width: 410px;
  height: 300px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.sayBox3 {
  right: 660px;
  width: 410px;
  height: 300px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.saysBox {
  width: 100%;
  height: 430px;
  display: flex;
}
.saysBoxImg {
  top: 30px;
  left: 20px;
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}
.saysBoxItemImg {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-top: 20px;
}

.saysParagraph1 {
  color: rgb(121, 99, 43);
}
.saysParagraph2 {
  color: rgb(81, 62, 15);
}
.saysParagraph3 {
  color: white;
}
.sayBoxItem1 {
  width: 350px;
  height: 280px;
  padding: 30px;
  border-radius: 10px;
  position: relative;
  background-color: rgb(202, 200, 183);
}
.sayBoxItem2 {
  width: 350px;
  height: 280px;
  padding: 30px;
  position: relative;
  border-radius: 10px;
  background-color: rgb(210, 201, 137);
}
.sayBoxItem3 {
  width: 350px;
  height: 280px;
  padding: 30px;
  border-radius: 10px;
  background-color: rgb(124, 114, 35);
}
.saysSpan {
  color: black;
}
.starL {
  color: gold;
  padding: 2px;
}
