.about {
  width: 100%;
  height: 100%;
  top: 0;
  position: relative;
  background-color: rgb(246, 243, 240);
}
.aboutUs {
  display: flex;
  width: 100%;
  height: 30%;
  align-items: center;
  justify-content: center;
}
.AboutUsItemSm {
  float: left;
  width: 55%;
}
.aboutUsItems {
  float: right;
  width: 45%;
}
.aboutUsItem {
  font-family: montserrat serif;
  font-size: 20px;
  font-weight: 800;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  padding-left: 40px;
}
.aboutUsItemParagraph {
  font-family: montserrat, sans-serif;
  line-height: 30px;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
  padding-left: 40px;
  margin-left: 20px;
  color: rgb(121, 99, 43);
}
.aboutImgItem {
  float: left;
  align-items: center;
  justify-content: center;
}
.img1 {
  width: 100px;
  height: 250px;
  margin: 5px;
  padding: 5px;
  border-radius: 25px;
}
.img2 {
  width: 100px;
  height: 250px;
  margin: 5px;
  padding: 5px;
  border-radius: 25px;
}
.img3 {
  width: 100px;
  height: 250px;
  margin: 5px;
  padding: 5px;
  border-radius: 25px;
}
.div2 {
  padding-top: 50px;
}
