.gallery {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgb(246, 243, 240);
}
.galleryHeading {
  width: 100%;
  height: 70px;
}
.headingGalley {
  font-size: 20px;
  font-family: montserrat serif;
  font-weight: 800;
  padding-top: 20px;
  margin: 0;
  text-align: center;
  color: rgb(58, 50, 50);
}
.galleryDiv {
  width: 100%;
  height: 660px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.galleryImg {
  width: 340px;
  height: 340px;
  padding-left: 20px;
}
.galleryItem {
  width: 300px;
  height: 300px;
  padding-left: 15px;
}
/* small devices (smartphones) */
@media screen and (max-width: 767px) {
  .gallery {
    width: 100%;
    height: 100%;
  }
  .galleryHeading {
    width: 100%;
  }
  .galleryDiv {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding-right: 40px;
  }
  .galleryImg {
    width: 100%;
    height: 100%;
    padding: 15px;
  }
  .galleryItem {
    width: 290px;
    height: 290px;
    padding-right: 40px;
  }
  .headingGalley {
    text-align: start;
    padding-left: 20px;
  }
}
