.footer {
  width: 100%;
  height: 300px;
  background-color: rgb(246, 243, 240);
}
.footerDivList {
  height: 300px;
  width: 100%;
}
.footerDivListItem {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.footerListItemLeft {
  width: 500px;
  height: 200px;
  position: relative;
  right: 54px;
  color: rgb(121, 99, 43);
}
.footerImg {
  width: 70px;
  height: 40px;
  border-radius: 10px;
  object-fit: cover;
  cursor: pointer;
  margin-left: 30px;
}
.footerSpan {
  width: 310px;
  margin-top: 20px;
  margin-left: 30px;
  line-height: 22px;
}
.footerBottom {
  width: 100%;
  height: 50px;
  background-color: rgb(246, 243, 240);
}
.footerBottomItem {
  width: 100%;
  height: 70px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 30px;
}
.footerBottomItemList {
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(121, 99, 43);
}
.footerTopCenter {
  width: 200px;
  height: 200px;
  position: relative;
  right: 30px;
  color: rgb(121, 99, 43);
}
.footerNavigationBar {
  list-style: none;
}
.footerNavigationBarItem {
  padding: 10px;
  cursor: pointer;
}
.footerRight {
  width: 200px;
  height: 200px;
  position: relative;
  left: 70px;
}
.footerSpanRight {
  padding-bottom: 10px;
  padding-left: 5px;
  color: rgb(83, 73, 73);
}
.footerEmail {
  color: rgb(121, 99, 43);
  padding-left: 8px;
  line-height: 22px;
}
.footIcons {
  padding: 4px;
  cursor: pointer;
  border: 1px solid rgb(193, 190, 177);
  border-radius: 50%;
  color: rgb(121, 99, 43);
}
.footIcon {
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  border: 1px solid rgb(193, 190, 177);
  border-radius: 50%;
  color: rgb(121, 99, 43);
}
.footIconFooter {
  padding-right: 10px;
  padding-top: 10px;
}
